body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
    text-align: justify;
}

hr {
    font-size: 3px;
    border: .1px solid #00619a;
    margin-bottom: 20px;
}

nav {
    background: linear-gradient(to right, #0077C2, #59a5f5);
    color: #fff;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.brand a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    text-decoration: underline;
}


.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.movie-card {
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.button-row {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-row button {
    background-color: #00BFFF;
    color: #fff;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
}

.button-row button:hover {
    background-color: #555;
}

.edit-form {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    text-align: justify;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.edit-form button {
    background-color: #00BFFF;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.back-button button {
    background-color: #00BFFF;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.edit-form button:hover {
    background-color: #00BFFF;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    width: 700px;
    height: 100px;

}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


.action-buttons {
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.action-buttons h1{
    margin-right: 1000px;
}

.action-buttons button {
    background-color: #00BFFF;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 10px;
}

.action-buttons button:hover {
    background-color: #555;
}


